body,h1,h2,h3,.p1,p,ul,li{
    margin:0;
    padding:0;
}
header{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #194d924a;
    
     color: white;
     
}

.logo img{
    max-height: 160px
    
}
.h1{
    text-shadow: 2px 2px 4px #ede4e4;
    font-style: italic;
    color: rgb(9, 9, 127);
    font-size: 60px;
    padding-left: 2px;
    margin-left: auto;font-weight: bold;


}
.p1{
    font-size: 20px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.college-info{
    margin-left: 20px;
    
}

nav{
    background-color: #b5d3cb33;
    font-size: 25px;
    text-shadow: 2px 2px white;
    font-weight: bold;
}
.menu{
    display: flex;
    list-style: none;
    padding: 10px;
}
.menu li{
    margin-left: 20px;
}
.menu a{
    color:rgb(4, 4, 4);
    text-decoration: none;
    font-weight: bold;
}
.submenu{
    display: none;
    position:absolute;
    background-color: #eadddd56;
    list-style: none;
    padding:10px;
}
.dropdown:hover .submenu{
    display:block;
}
.submenu li{
    margin: 5px 0;
}
li a:hover{
    background-color: white;
    color: black;
}

.social-media img{
    height: 50px;
margin: 0 30px;
}
